:root {
    --primary-blue: #3E37F7;
    --white: #fff;
    --gray: #909090;
    --red: #FF0000;
    --black: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--background-color);
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

.registrationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.registrationContainer h1 {
    color: var(--primary-blue);
}

.navigation-container a {
    text-decoration: none;
    color: var(--gray);
    margin-bottom: 2rem;
}

.navigation-container a:hover {
    color: var(--black);
    transition: 0.3s ease;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30rem;
    height: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    position: absolute;
}

.input-style {
    padding: 0.5rem;
    width: 15rem;
    border-radius: 8px;
    border: 1px solid var(--gray);
    margin-top: 1rem;
}
